button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	transition: all 250ms linear;
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $color__background-button;
	color: rgba(255, 255, 255, .8);
	@include font-size(1);
	font-weight: bold;
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		border-color: $color__border-button-hover;
		background-color: $black;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		background-color: $black;
	}
}

.lines-button {
	margin: 10px auto;
	padding: 12px 15px;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.1;
	display: block;
	max-width: 375px;
	background: #fff;
	color: #58585a;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	transition: all 500ms linear;
	text-decoration: none;

	.left-line {
		background-color: #ee5601;
		position: absolute;
		left: 0;
		top: 0;
		width: 3px;
		height: 80%;
		content: " ";
		transition: all 500ms linear;
	}

	.right-line {
		background-color: #ee5601;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 3px;
		height: 80%;
		content: " ";
		transition: all 500ms linear;
	}

	&:before {
		background-color: #ee5601;
		position: absolute;
		top: 0;
		left: 0;
		width: 95%;
		height: 3px;
		content: " ";
		transition: all 500ms linear;
	}
	&:after {
		background-color: #ee5601;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 95%;
		height: 3px;
		content: " ";
		transition: all 500ms linear;
	}

	&:hover {
		background-color: rgba(233,123,25,0.1);

		.left-line {
			height: 100%;
			background-color: #e97b19;
		}

		.right-line {
			height: 100%;
			background-color: #e97b19;
		}

		&:before {
			width: 100%;
			background-color: #e97b19;
		}

		&:after {
			width: 100%;
			background-color: #e97b19;
		}
	}
}
