// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// Colors
$red: #DA4453;

// Boxes
$box-radius: 8px;
$box-shadow: 0 2px 3px rgba($black, 0.3), 0 0 0 1px rgba($black, 0.1);
$box-padding: 1.25rem;

// Buttons
/*$button-color: $white;
$button-background-color: $red;
$button-focus-color: $white;
$button-hover-color: $white;*/