h1, h2, h3, h4, h5, h6 {
	font-family: $font__header;
	font-weight: bold;
}

h2 {
	&.title {
		@include font-size(1.5);
	}
}

.widget-area {
	.widget-title {
		margin-bottom: 1.25em;
		text-transform: uppercase;
		color: #636467;
	}
}