
.navbar {
	&.main-navigation {
		//background-color: rgba(184, 194, 194, .8);
		background-color: rgba(54, 54, 54, 0.9);
	}
	//background-image: url(assets/images/bg08.jpg);
	//background-color: rgba(54, 54, 54, 0.9);
	background-repeat: repeat;
	background-position: 0 0;
	box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);

	ul {
		margin: 0;
		padding: 0;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				//width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		/*padding: 20px 10px;*/
		padding: 0 10px;
		display: flex;
		&:hover > a,
		&.focus > a {
		}
	}

	.navbar-menu {
		a {
			padding: 20px 10px;
			font-family: $font__nav;
			font-weight: bold;
			@include font-size(0.875);
			color: $color_navbar_link;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 1px 1px 2px rgba(0,0,0,.3);
			border-bottom: 3px solid transparent;
			position: relative;

			&:hover, &:focus {
				color: $color_navbar_link-hover;
				background-color: transparent;
				border-bottom-color: $color_navbar_link-hover;
				transition: all 250ms linear;
			}
		}
		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a,
		.current-menu-ancestor > a {
			color: $color_navbar_link-hover;
			background-color: transparent;
			border-bottom-color: $color_navbar_link-hover;
		}
	}
	.navbar-brand {
		img {
			max-height: none;
		}
		a {
			@include font-size(1.25);
			font-family: $font__logo;
			color: $color_navbar_link;
			font-weight: bold;
			&:hover, &:focus {

			}
			&.navbar-item {
				&:hover, &:focus {
					background-color: transparent;
				}
			}
		}
	}
	a {

	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color_navbar_link-hover;
		background-color: transparent;
	}
}

.sticky-component {
	visibility: hidden;
	left: -9999em;
	//transform: translateY(-77px);
	transform: translateY(-77px);
	transition: transform 500ms ease, opacity 550ms ease;
	height: 0;
	opacity: 0;
	z-index: 5;
	@at-root .admin-bar & {
		top: 32px;
	}
	&.sticky {
		visibility: visible;
		left: 0;
		opacity: 1;
		top: -77px;
		//transform: translateY(77px);
		transform: translateY(77px);
		transition: transform 500ms ease, opacity 950ms ease;
		height: 77px;
	}
	.navbar {
		transition: background 900ms ease;
		background-color: rgba(54, 54, 54, 0.85);
	}
}

.admin-bar .sticky-component {
	&.sticky {
		//top: -55px;
		top: -45px;
	}
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 0;
	margin: 0;
}

%pageLink {
	margin-right: 4px;
	padding: 0 9px;
	border-radius: 3px;
	border: solid 1px #c0c0c0;
	background: #e9e9e9;
	box-shadow: inset 0 1px 0 rgba(255,255,255, .8), 0 1px 3px rgba(0,0,0, .1);
	font-size: .875em;
	font-weight: bold;
	text-decoration: none;
	color: #717171;
	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

.pagination {
	padding-top: 1em;
	padding-left: 1em;
	ul {
		margin: 0;
		list-style: none;
		display: flex;
		li {
			margin: 0 0.25em;
			list-style: none;
			&:first-of-type {
				margin-left: 0;
			}
			&:last-of-type {
				margin-right: 0;
			}
			span {
				&.current {
					display: inline-block;
					margin-right: 4px;
					padding: 0 9px;
					border: none;
					background: #616161;
					box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
					color: #f0f0f0;
					text-shadow: 0px 0px 3px rgba(0,0,0, .5);
				}
			}
			a {
				display: inline-block;
				@extend %pageLink;
				&:hover, &:focus {
					background: #fefefe;
					background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
					background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
				}
			}
		}
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	//display: block;
}

.navbar-burger {
	margin: auto 0 auto auto;
	&.is-active, &:hover {
		background-color: $color__link-hover;
		color: $white;
		transition: background 500ms linear;
	}
}

@media screen and (max-width: 1023px) {
	.main-navigation {
		.container {
			.navbar-menu {
				background-color: $color__background-nav;
				flex-direction: row;
				&.is-active {
					display: flex;
					flex-grow: 1;
					justify-content: space-around;
					background-color: $color__background-nav;
					ul.navbar-end {
						display: flex;
						li {
							padding: 5px 0;
							a {
								display: block;
							}
						}
					}
				}
				ul.navbar-end {

				}
			}
		}
	}
	.sticky-component {
		.navbar {
			.navbar-brand {
				.navbar-item {
					img {
						max-height: 3rem;
					}
				}
				.navbar-burger {
					margin: auto 0 auto auto;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.main-navigation {
		.container {
			.navbar-menu {
				flex-direction: column;
				align-items: center;
			}
		}
	}
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		//display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
